.App {
  text-align: center;
}
body {
  width: 100%;
}
header {
  background-color: rgb(85, 136, 255);
  text-align: center;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainNav {
  display: flex;
  height: 1rem;
  list-style-type: none;
  align-content: center;
}
.mainNav > * {
  padding: 0px 10px;
}
.mainNav > * :hover {
  background-color: grey;
}
.navBar {
  display: flex;
  justify-content: space-evenly;
}
.mainContent {
  display: flex;
  justify-content: center;
  height: 100px;
  margin-top: 10px;
}
.expensePaper {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-full {
  width: 100%;
}
