body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffffd7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  margin: 0px;
  width: 100%;
}
#root {
  display: grid;
  grid: 1fr / 1fr;
}

.mainPage {
  width: 100%;
  height: 1vh;
  display: flex;
  justify-content: center;
}
.expensePaper {
  width: 33%;
  height: max-content;
  padding-bottom: 10px;
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.historyPaper {
  width: 15%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  left: 10px;
  top: 20%;
  overflow: hidden;
}
.row {
  display: flex;
  flex-direction: column;
}
.row-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.income-expense-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.transactionItem {
  width: 7rem;
  margin: 0 10px;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
w-50 {
  width: 50%;
}
.button {
  cursor: pointer;
  padding: 5px;
}
.button:hover {
  background-color: #146dc6ab;
}
.new-transaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}
.top-left {
  position: absolute;
  top: 68px;
  left: 5px;
  padding: 3px;
  width: min-content;
}
