body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffffd7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  margin: 0px;
  width: 100%;
  background-color: #eeeeee;
}
#root {
  display: grid;
  grid: 1fr / 1fr;
}

.mainPage {
  position: absolute;
  width: 100%;
  height: 1vh;
  top: 100px;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
}
.expensePaper {
  margin-bottom: 35px;
  width: 50%;
  height: max-content;
  min-width: fit-content;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.historyPaper {
  width: 20%;
  position: relative;
  margin: 15px;
  min-width: 300px;
  min-height: 180px;
  overflow: hidden;
}
.incomeExpense {
  display: flex;
  flex-flow: column nowrap;
  width: 150px;
  align-items: center;
  height: fit-content;
}
.incomeExpense > p {
  font-size: x-large;
  padding: 0;
  line-height: 0.01;
}
.green {
  color: rgb(1, 116, 1);
}
.red {
  color: red;
}
.spending-history {
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-content: start;
  height: 315px;
  overflow: hidden;
  padding: 10px;
}
.budget-container {
  width: 45%;
  height: min-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20px;
}
.row {
  display: flex;
  flex-direction: column;
}
.row-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.income-expense-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.transactionItem {
  width: 7rem;
  margin: 0 10px;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
w-50 {
  width: 50%;
}
.button {
  cursor: pointer;
  padding: 5px;
}
.button:hover {
  background-color: #146dc6ab;
}
.new-transaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  border-radius: 25px;
  box-shadow: 3px 3px 13px 0px rgba(134, 134, 134, 0.505);
  padding: 10px;
}
.top-left {
  position: absolute;
  top: 68px;
  left: 5px;
  padding: 3px;
  width: min-content;
}
.balance {
  padding: 5px;
  position: relative;
  top: 0;
  right: -30px;
}
.top {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 15px;
  margin-top: 10px;
}
@media screen and (max-width: 1000px) {
  .balance {
    padding: 5px;
    top: 0;
    right: 0;
  }
  .top {
    flex-flow: column;
    align-content: center;
  }
}
.w-60 {
  width: 60%;
}
