body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  margin: 0px;
  width: 100%;
}
#root {
  display: grid;
  grid: 1fr / 1fr;
}
.mainContent {
  display: flex;
  justify-content: center;
}
.expensePaper {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.w-full {
  width: 100%;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.income-expense-container > p {
  width: 50%;
}
.transactionItem {
  width: 7rem;
  margin: 0 10px;
}
